*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* <!-- common styling --> */
.font-app{
    padding: 15px 0;
    font-size: 15px;
    font-weight: 400;
    color: #3f434e;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* <!-- Section1-Navbar1 --> */
.sec1-nav1{
    padding: 5px 90px 5px 40px;
    background-color: #212329;
}
.sec1-nav1-para-content{
    font-size: 12px;
}
.sec1-nav1-link-item{
    height: 100%;
    padding: 0 10px;
    border-right: 1px solid #4d4f54 ;
}
.sec1-nav1-link-item:last-child{
    border: none;
}
.sec1-Nav1-selectLink{
    width: 63px;
    cursor: pointer;
    font-size: 12px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    background-size: 15px;
    background-color: #212329;
}
.sec1-Nav1-selectLink:focus{
    border: none;
    box-shadow: none;
}
.nav1-accLink{
    font-size: 12px;
}
.sec1-Nav1-accLink{
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}
/* <!-- Section2-Navbar2 --> */
.dropdown-toggle::after{
    display: none;
}
.sec2-nav2{
    padding: 0;
    top: -1px;
    box-shadow: 5px 5px 10px 0px #00000036;
}
.nav2-listItem{
    margin: 5px 15px;
}
.sec2-nav2-btn-dropDown{
    border: none;
}
.nav2-shop-list{
    background-color: #212329;
    padding: 0 15px;
    margin-top: 15px;
   
}
.sec2-nav2-listItems{
    font-size: 14px;
    color: #c3c3c3 !important;
    padding: 10px 0;
    
}
.nav2-shop-list li {
    border-bottom: 1px solid #4d4f54;
}
.mega-menu{
    position: static;
}
.mega-menu-main{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px;
}
.mega-menu-listHeading{
    font-size: 16px;
}
.mega-menu-list{
    width: 12%;
}
.cart-link{
    cursor: pointer;
}
.modal-backdrop{
    position: relative;
}
.cart-item-img-container{
    width: 100px;
    height: 100px;
}
.cart-item-img{
    object-fit: cover;
    object-position: center;
}
.alert-warning{
    color: black;
    background:none;
    border: none;
}
.def-mod{
    display: block;
}
.modal{
    width: 50%;
    top: 60px;
    left: 55%;
}
/* <!-- Section2-Navbar2-Hover --> */
.nav2-listItem:hover .nav2-shop-list{
    display: block; 
}
.sec2-nav2-listItems:hover{
    color: white !important;
    background: none !important;
}
.nav2-shop-list li:last-child{
    border: none;
}
.sec2-nav2-links:hover{
    color: #ff4135;
}
.cart-link:hover{
    color: #ff4135;
}
/* <!--Carousel-section3  --> */
.section3{
    padding: 70px 0 130px;
}
/* .sec3-car-item{
    background-color: red;
} */
.sec3-img-container{
    width: 400px;
    height: 400px;
}
.sec3-img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* object-position: center; */
}
.sec3-img1{
    width: 300px;
}
.sec3-carousel{
    overflow: hidden;
}
.sec3-arrows{
    color: black;
    font-size: 30px;
}
.sec3-prev{
    transform: translateX(-100%);
    transition: all ease-in-out 1s;
}
.sec3-next{
    transform: translateX(100%);
    transition: all ease-in-out 1s;
}
.sec3-text-overFlow{
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 30px;
    /* border: 2px solid black; */
}
.sec3-text-transitions{
    font-family: 'Barlow Semi Condensed', sans-serif;
    animation-name: sec3Text;
    animation-duration: 2s;
    /* border: 2px solid black; */

}
@keyframes sec3Text{
    0%{
        transform: translateY(-200%);
        /* margin-top: -100%; */
    }
    100%{
        transform: translateY(0%);
        /* margin-top: 0; */
    }
}
.sec3-img1{
    animation-name: sec3Img;
    animation-duration: 2s;
}
@keyframes sec3Img{
    0%{
        transform: translateX(200%);
        /* margin-top: -100%; */
    }
    100%{
        transform: translateY(0%);
        /* margin-top: 0; */
    }
}
.sec3-sub-main{
    font-size: 26px;
    
}
.sec3-main-heading{
    font-size: 70px;
}
.sec3-para{
    font-size: 20px;
}
/* <!--Carousel-section3-hover  --> */
.sec3-carousel:hover .sec3-prev{
    transform: translateX(0%);
}
.sec3-carousel:hover .sec3-next{
    transform: translateX(0%);
}


/* <!--Collection  --> */
.collect-main-heading{
    font-size: 50px;
    text-transform: uppercase;
}
.collec-img-heading{
    font-weight: 100;
}
.collection-container{
    padding: 20px 70px 70px;
}
.women-collection{
    position: relative;
    margin: 10px;
    overflow: hidden;   
}
.women-collec-imgs{
    height: 440px;
    object-fit: cover;
    object-position: top;
    transition: all ease-in-out 1s;
}
.kid-img5{
    object-position: center;
}
.women-collec-content{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.669);
    position: absolute;
    top: 0px;
    color: white;
}
.collec-icon{
    position: absolute;
    bottom: 0;
    right: 5px;
    color: white;
    opacity: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 1s;
}
.collec-btns{
    color: black;
    border:  none;
    transition: none;
}
.collec-btns:focus{
    border:  none;
    box-shadow: none;
}
.collec-list{
    border:  none;
}
.nav-tabs .nav-link.active {
    border: none;
}
.collec-content-btn{
    width: 25%;
    /* height: 250px; */
    padding: 10px;
    border-radius: 45px;
    text-transform: uppercase;
    background-color: #ff4135;
    
}
/* <!--Collection-hover  --> */
.women-collection:hover .women-collec-imgs{
    transform: scale(1.2);
}
.women-collection:hover .collec-icon{
    color: black;
    background-color: white;
    opacity: 1;
}





/* <!-- section5- --> */
.section5{
    margin-top: 150px;
    padding: 140px;
    background: linear-gradient(to right , rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/img20.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}
.sec5-content-container{
    width: 50%;
    margin: 0 auto;
    color: white;
}
.sec5-btn-container{
    padding: 15px 35px;
    border-radius: 25px;
   
    background-color: white;
    text-transform: uppercase;
}
.sec5-btn-container h5{
    color: #3f434e;
    font-size: 15px;
    font-weight: 400;
}
/* <!-- section5-hover --> */
.sec5-btn-container:hover{
    background-color: #ff4135;
}
.sec5-btn-container:hover h5{
    color: white;
}
/* <!-- section6 -->  */
/* .carousel-indicators{
    background-color: black;
} */
/* .sec6-carousel-container{
    width: 100%;
    margin: 0 auto;
    /* overflow:visible ; 
    border: 2px solid black;
} */
/* .sec6-car-items{
    width: 250px;
    border: 2px solid black;
} */
.section6{
    margin-top: 150px;
    margin-bottom: 150px;
}
.sec6-img-container{
    height: 82%;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
}
.sec6-img{
    object-fit: cover;
    object-position: center;
}
.sec6-img-overlay{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all ease-in-out 0.8s;
}
.sec6-btn-overlay{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    /* opacity: 0; */
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.228);
    transition: all ease-in-out 0.8s;
    transform: translateY(100%);
}
.sec6-btn{
    width: 150px;
    /* height: 250px; */
    padding: 10px;
    border-radius: 45px;
    text-transform: uppercase;
    background-color: #ff4135;
    
}
.sec6-img-container:hover .sec6-img-overlay{
    opacity: 1;
}
.sec6-img-container:hover .sec6-btn-overlay{
    transform: translateY(0%);
    opacity: 1;
}
/* <!-- section7 -->  */
.section7{
    margin-top: 200px;
    margin-bottom: 200px;
}
.sec7-btn{
    width: 180px;
    /* height: 250px; */
    padding: 10px;
    border-radius: 45px;
    text-transform: uppercase;
    background-color: #ff4135;
    
}
.sec-img-container{
    transform: scale(1.3);
}
.sec7-img{
    animation-name: sec7Img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes sec7Img{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
}
.sec7-main-heading{
    font-size: 65px;
}
.sec7-para{
    font-size: 25px;
}
/* <!-- section8 --> */
.section8{
    margin-top: 150px;
    margin-bottom: 150px;
}
.sec8-main-img-container{
    width: 35%;
    margin: 0 10px;
}
.sec8-main-img-container2 {
    width: 532px;
}
.sec8-sub-img-container{
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.sec8-main-img-content{
    padding: 0 10px;
}
.sec8-para{
    color: black;
    font-size: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.sec8-main-heading{
    font-size: 45px;
}
.sec8-subImg-overlay{
    width: 100%;
    position: absolute;
    top: 0px;
}

.sec8-icon-container{
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
}
.sec8-arrow-icons{
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
}
.sec8-subImg-overlay:hover .sec8-icon-container{
    background-color: #ff4135;
}
.sec8-subImg-overlay:hover .sec8-icon-container i{
    color: white;
}
.sec8-span{
    font-size: 22px;
}
.sec8-carousel-indicators{
    width: 30%;
    left: 550px !important;
    bottom: 0px;
}
.sec8-btns[data-bs-target]{
    width: 0;
    height: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

/* <!-- Instagram --> */
.insta-imgs{
    width: 100%;
    height: 250px;
    /* margin: 5px; */
    background-position: center;
    background-size: cover;
}
.insta-img1{
    background-image: url(images/shop1/img-2.jpg);  
}
.insta-img2{
    background-image: url(images/shop1/img-1.jpg);
}
.insta-img3{
    background-image: url(images/shop1/img-3.jpg);
}
.insta-img4{
    background-image: url(images/shop1/img-4.jpg);
}
.insta-img5{
    background-image: url(images/shop1/img-5.jpg);
}
.insta-img6{
    background-image: url(images/shop1/img-6.jpg);
}
.insta-img-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all ease-in-out 0.7s;
}
.insta-content-overlay:hover .insta-img-content{
  
    opacity: 1;
}
/* <!-- Section-footer-1 --> */
.footer1{
    width: 75%;
}
.footer1-box h4{
    text-align: center;
    color: #3f434e;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.footer1-box li{
    width: 100%;
    color: #3f434e;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;  
}
.footer1-socialIcon-container{
    margin-top: 10px;
}
.footer1-socialIcon-link{
    margin: 10px;
}
 .footer-content{
    width: 50%;
}
.footer-main-col{
    margin: 0 5px;
}
.newsletter-container{
    width: 40%;
    background-color: #ff4135;
    padding: 20px;
    color: white;
}
.newsletter-wrapper{
    padding: 90px 0;
    background-color: #cac5c562;
}
.footer-email-input{
    color: white;
    outline: none;
    background: transparent;
    border: none;
    padding: 5px;
    border-bottom: 1px solid #ffffff;
}
.footer-email-input::placeholder{
    color: white;
}
.sub-submitBt-container{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 20px;
    position: relative;
    overflow: hidden;
}
.sub-submitBt-container h4{
    font-size: 15px;
    margin: 0;
    position: relative;
    transition: all 0.6s ease-in-out;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.footer1-socialIcon-link i{
    color: black;
    font-size: 25px;
}

/* <!-- Section-footer-1--hover --> */
.sub-submitBt-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: white;
    border-radius: 25px;
    transition: all 0.6s ease-in-out;
}
.sub-submitBt-container:hover::before{
    transform: translateX(100%);
}
.sub-submitBt-container:hover h4{
    color: #ff4135;
}
.footer1-socialIcon-link:hover i{
    color: #ff4135;
}

/* <!-- Section-footer-2--> */
.footer2{
    padding: 10px;
    background-color:#343a40!important;
}

@media screen and (min-width:320px) and (max-width:993px){
/* <!-- Section2-Navbar2 --> */
    .nav2-listItem{
        width: 100%;
        padding: 10px;
    }
    .mega-menu-list{
        width: 100%;
        padding: 10px 35px;
        text-align: center;
    }
    .mega-menu-listHeading{
        font-size: 18px;
    }
    .nav2-mainList-container{
        width: 75%;
        margin: 0 auto;
    }
    .mega-menu-list-img{
        width: 100%;
    }
    .mega-menu-img{
        width: 100%;
    }
/* <!-- Section3 --> */
    .section3{
        padding: 50px 0 50px;
    }
    .sec3-main-heading{
        font-size: 50px;
    }
    .sec3-text-container{
        margin-bottom: 50px;
    }
    .collec-content-btn{
        width: 40%;
    }
    .collection-container{
        padding: 20px 40px;
    }
    /* <!-- Section5 --> */
    .section5{
        margin: 80px 0;
        padding: 55px;
    }
    .sec5-content-container{
        width: 80%;
    }
/* <!-- Section6 --> */
    .section6{
        margin-top: 80px;
        margin-bottom: 80px;
    }
/* <!-- Section7 --> */
    .section7{
        margin-top: 90px;
        margin-bottom: 150px;
    }
    .sec-img-container{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        transform: scale(1);
    }
    .sec7-img{
        width: 75%;
    }
    .insta-imgs{
        background-position: top;
    }
    .newsletter-container{
        width: 90%;
    }
    .footer-email-input{
        width: 100%;
    }
    .sub-submitBt-container{
        width: 100%;
    }
    .footer1{
        width: 100%;
    }
/* <!-- Section8 --> */
    .sec8-main-img-container{
        width: 70%;
    }
    .sec8-carousel-indicators{ 
       left: 0 !important;
       bottom: -50px;
       width: 70%;
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
/* <!-- Section1-Navbar1 --> */
    .sec1-nav1 {
        padding: 7px 7px 7px 12px;
    }
    .sec1-nav1-link-item{
        padding: 0 10px;
    }
/* <!-- Section2-Navbar2 --> */
/* <!-- Section8 --> */
    


}
@media screen and (min-width:376px) and (max-width:426px) {
/* <!-- Section1-Navbar1 --> */
    .sec1-nav1 {
        padding: 7px 7px 7px 12px;
    }
    .sec1-nav1-link-item{
        padding: 0 10px;
    }
/* <!-- Section2-Navbar2 --> */
    .sec7-main-heading{
        font-size: 40px;
    }
    .footer1-box li{
        font-size: 14px;
    }
}
@media screen and (min-width:321px) and (max-width:376px) {
/* <!-- Section1-Navbar1 --> */
    .sec1-nav1 {
        padding: 7px 7px 7px 12px;
    }
    .sec1-nav1-link-item{
        padding: 0 10px;
    }
/* <!-- Section2-Navbar2 --> */
    .sec2-brand-logo{
        width: 90%;
    }
    /* <!--Collection  --> */
    .collect-main-heading{
        font-size: 30px;
    }
    .sec7-main-heading{
        font-size: 40px;
    }
    .footer1-box li{
        font-size: 14px;
    }
}
@media screen and (min-width:0px) and (max-width:321px) {
/* <!-- Section1-Navbar1 --> */
    .sec1-nav1 {
        padding: 7px 7px 7px 12px;
    }
    .sec1-nav1-link-item{
        padding: 0 10px;
    }
/* <!-- Section2-Navbar2 --> */
    .sec2-brand-logo{
        width: 90%;
    }
/* <!--Collection  --> */
    .collec-content-btn{
        width: 60%;
    }
    .collection-container{
        padding: 20px 25px;
    }
    .collect-main-heading{
        font-size: 30px;
    }
    .sec5-content-container{
        width: 100%;
    }
    .section6{
        margin-bottom: 40px;
    }
    .section7{
        margin-top: 30px;
    }
    .sec7-main-heading{
        font-size: 40px;
    }
    .footer1-box li{
        font-size: 14px;
    }
}



